body {
  background-color: #faf8ef;
}

.header {
  margin: 0px auto;
  width: 350px;
  color: #776e65;
}

.scores-container {
  float: right;
  text-align: right;
}

.score-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;
}

.score-container:after {
  content: "Score";
  position: absolute;
  width: 100%;
  top: 10px;
  left: 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  text-align: center;
  color: #eee4da;
}

.logo {
  font-size: 65px;
  font-weight: bold;
}

.sub-header {
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 45px;
  height: 45px;
}

#board {
  position:relative;
  margin: 10px auto;
  width: 350px;
  height: 350px;
  background-color: #bbada0;
  border-radius:3px;
}

#restart {
  display:inline-block;
  font-size: 12px;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 10px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  display: block;
  text-align: center;
  float: right;
  border: 0px;
  text-transform: uppercase;
}

.blanks {
  position:absolute;
  display:inline-block;
  z-index:0;
  background-color: #ccc0b2;
  width: 75px;
  height: 75px;
  margin-top: 10px;
  margin-left: 10px;
  border-radius:3px;
}

.tiles {
  position:absolute;
  display:inline-block;
  z-index:1;
  background-color: #eee4da;
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 45px;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  border-radius:3px;
}

#board .tile-2 {
    background: #eee4da;
}

#board .tile-4 {
    background: #ede0c8;
}

#board .tile-8 {
  color: #f9f6f2;
  background: #f2b179; 
}

#board .tile-16 {
  color: #f9f6f2;
  background: #f59563; 
}

#board .tile-32 {
  color: #f9f6f2;
  background: #f67c5f; 
}

#board .tile-64 {
  color: #f9f6f2;
  background: #f65e3b; 

}

#board .tile-128 {
  color: #f9f6f2;
  background: #edcf72; 
  font-size: 35px; 
}

#board .tile-256 {
  color: #f9f6f2;
  background: #edcc61;  
  font-size: 35px; 
}

#board .tile-512 {
  color: #f9f6f2;
  background: #edc850; 
  font-size: 35px; 
}

#board .tile-1024 {
  color: #f9f6f2;
  background: #edc53f;  
  font-size: 25px; 
}

#board .tile-2048 {
  color: #f9f6f2;
  background: #edc22e; 
  font-size: 25px; 
}

#board .tile-super {
  color: #f9f6f2;
  background: #3c3a32;
  font-size: 20px; 
}